<footer style="text-align: center;">
    <p mt-1 op-60 style="font-size: 12px;">
        <p mt-1 op-60 style="font-size: 12px;">
            End-to-end encryption enabled,Your conversations are private and
            secure.
        </p>
        <!-- <a
        mt-1
        op-60
        href="https://ai.erbanku.com/"
        target="_blank"
        style="font-size: 12px;text-decoration: underline;">GPT-3.5</a
        >
        <a
            mt-1
            op-60
            href="https://ais.erbanku.com/"
            target="_blank"
            style="font-size: 12px;text-decoration: underline;">SpeechGPT</a
        >
        <a
            mt-1
            op-60
            href="https://visualgpt.erbanku.com/"
            target="_blank"
            style="font-size: 12px;text-decoration: underline;">VisualGPT</a
        >
        <a
            mt-1
            op-60
            href="https://translate.erbanku.com/"
            target="_blank"
            style="font-size: 12px;text-decoration: underline;">Translate</a
        >         -->
    </p>
</footer>
