---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Claude for Science</span>
    <!-- <span class="gpt-subtitle"> (100K)</span> -->
  </div>
  <p mt-1 op-60>An AI4Science Project</p>
  <!-- <p mt-1 op-60>Contact: claude2@erbanku.com</p> -->
  <p mt-1 op-60>Based on the latest Anthropic API</p>
</header>